
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>Vi er Gruppe4 og dette er vårt prosjekt i samarbeid med Kartverket og Norsk Luftambulanse</p>
<p>Dette er litt informasjon om oss: <br /> Arild Bjørnetrø, 38 år fra Fredrikstad. Har fagbrev som Kokk og jobbet som Fengselsbetjent i forskjellige fengslet i Oslo/Agder. Har alltid vært interessert i IT og data.</p>
