<!DOCTYPE html>
@{
    ViewData["Title"] = "FAQ";
}

<div>
    <h1>
        @ViewData["Title"]
    </h1>

    <style>
    h2 {
        color: blue;
        font-size: 120%;
    }
    </style>

    <h2>Question 1:</h2>
        <p>
        How do I change my report? <br>If the report has been submitted it can <b>not</b> be changed.
        </p>

    <h2>Question 2:</h2>
    <p>
        How do I find my position? <br>By pressing the needle icon on the top left.
    </p>

    <h2>Question 3:</h2>
    <p>
        Can I edit later? <br>You can edit later if you have not pressed submit.
    </p>

</div>


