
@{
    ViewData["Title"] = "FAQ";
}
<div>
    <h1>
        @ViewData["Title"]
    </h1>
    <p>
        Hei igjen igjen

        <br>OG hva med dette?
        Hvordan blir dette???
    </p>
</div>


