
@{
    ViewData["Title"] = "Administrator";
}

<h1>Administrator</h1>

<p>
    This is the page for Administrators only <br /> We will add more features soon like user management, site settings and more!
</p>



