html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.footer {
    background-color: ghostwhite;
    border-top: thin;
}

@keyframes greenToRed {
    from {
        background-color: green;
    }

    to {
        background-color: red;
    }
}

.btnSimple {
    background-color: #198754;
    border: none;
    color: ghostwhite;
    padding: 15px 30px;
    text-align: left;
    display: inline-block;
    border-radius: 6px;
}
.btnSimple:hover {
    background-color: darkgreen;
}


.btnBack {
    background-color: lightgrey;
    border: none;
    color: black;
    padding: 15px 30px;
    text-align: left;
    display: inline-block;
    border-radius: 6px;
}
.btnBack:hover {
    background-color: darkgrey;
}

.bgGreen {
    background-image: url('/Content/Images/Topographic_green.png');
    background-size: cover;
}
